@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*index*/
html, body {
  height: 100%;
  weight: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.topnav-centered {
  margin: auto;
}

.logo{
  text-align: center;
}

.nav-link {
  font-size: 1.4em !important;
}

.carousel {
  margin: auto;
  width: 50%;
  height: 50%;
}

#Welcome{
  padding-left: 100px;
  padding-right: 100px;
  font-size: 23px;
  font-family: serif;
  font-style: italic;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
}

 h1{
   margin:auto;
 }

#brand {
    height: 7px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


/*How it Works*/
#idk{
  text-align: center;
  font-size: 50px;
}

#HIW{
  text-align: center;
  font-size: 40px;
  padding: 40px;
}

/*Gallery & Samples*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col-md-4 {
}

.col-md-4 img {
    margin-top: 30px;
}

#caption {
  text-align: center;
  font-weight: bold;
}
/*About Me*/
#self{
  padding: 35px;
}

#Bio{
  font-size: 23px;
  padding-top: 6%;
  padding-left: 30px;
  font-family: serif;
  font-style: italic;
}

#footer{
  clear:both;
}














/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
